@using DataSibTerminal.Models;
@model TicketMassageViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    int a = 0;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
    <link rel="stylesheet" href="/lib/leftBar.css">
    <link rel="stylesheet" href="/lib/mainPage.css">
    <link rel="stylesheet" href="/lib/middleBar.css ">
    <link rel="stylesheet" href="/lib/rightBar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="leftMenu">
            <button class="hamburgerMenu">
                <img src="styles/svg/menu.svg" class="menuSVG">
            </button>
            <button class="adminProfile">
                <img src="styles/example/adminPfp.jpg" class="adminPfp">
            </button>
        </div>
        <div class="searchNInbox">
            <div class="searchbar">
                <input class="searchbar-input" type="search" placeholder="Search">
            </div>
            <div class="backing">
                <ul class="inbox">
                    @for (int i = 0; i < Model.Tickets.Count; i++)
                    {
                        <li>
                            <button class="msg-button" data-index="@i">
                                <div class="msg">
                                    <h2 class="msgSenderName">
                                        @Model.Tickets[i].Username
                                    </h2>
                                    <h3 class="msgSubject">
                                        @Model.Tickets[i].AnydeskId
                                    </h3>
                                    <p class="msgText">
                                        @Model.Tickets[i].Description
                                       
                                    </p>
                                    <p class="right ">@Model.Tickets[i].CreationTime</p>
                                    
                                </div>
                            </button>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="textBox">
            <div class="topBar">
                <div class="fillerName1">
                </div>
            </div>
            <div class="msgFullText" id="msgFullText" data-model="@Newtonsoft.Json.JsonConvert.SerializeObject(Model)">
                <h2 class="msgSenderName">
                    @Model.Tickets[a].Username
                </h2>
                <h3 class="msgSubject">
                    @Model.Tickets[a].AnydeskId
                </h3>
                <p class="msgText">
                    @Model.Tickets[a].Description
                </p>
                <p class="right">@Model.Tickets[a].CreationTime</p>
            </div>
            <form asp-action="SendMassage" method="post">
                <div class="inputMsg">
                    <button class="sendMsg-button" form="#sendMsg">Send</button>
                </div>
            </form>

        </div>
    </div>
</body>
</html>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var buttons = document.querySelectorAll('.msg-button');
        var msgFullText = document.getElementById('msgFullText');

        buttons.forEach(function (button) {
            button.addEventListener('click', function () {
                var index = button.getAttribute('data-index');
                var a = parseInt(index);

               
                var modelData = JSON.parse(msgFullText.getAttribute('data-model'));
                var username = modelData[a].Username;
                var anydeskId = modelData[a].AnydeskId;
                var description = modelData[a].Description;
                var creationTime = modelData[a].CreationTime;

                
                msgFullText.innerHTML = `
                    <h2 class="msgSenderName">
                        ${username}
                    </h2>
                    <h3 class="msgSubject">
                        ${anydeskId}
                    </h3>
                    <p class="msgText">
                        ${description}
                    </p>
                    <p class="right">${creationTime}</p>
                `;

                
            });
        });
    });


</script>
