@using DataSibTerminal.Models;
@model MainViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	int a = 0;
    List<Ticket> tickets = ViewData["ticket"] as List<Ticket>;
    List<Message> messages = ViewData["message"] as List<Message>;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
    <link rel="stylesheet" href="/lib/leftBar.css">
    <link rel="stylesheet" href="/lib/mainPage.css">
    <link rel="stylesheet" href="/lib/middleBar.css ">
    <link rel="stylesheet" href="/lib/rightBar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="leftMenu">
            <button class="hamburgerMenu">
                <img src="styles/svg/menu.svg" class="menuSVG">
            </button>
            <button class="adminProfile">
                <img src="styles/example/adminPfp.jpg" class="adminPfp">
            </button>
        </div>
        <div class="searchNInbox">
            <div class="searchbar">
                <input class="searchbar-input" type="search" placeholder="Search">
            </div>
            <div class="backing">
                <ul class="inbox">
                    @for (int i = 0; i < tickets.Count; i++)
                    {
                        <li>
                            <button class="msg-button" data-index="@i">
                                <div class="msg">
                                    <h2 class="msgSenderName">
                                        @tickets[i].Username
                                    </h2>
                                    <h3 class="msgSubject">
                                        @tickets[i].AnydeskId
                                    </h3>
                                    <p class="msgText">
                                        @tickets[i].Description

                                    </p>
                                    <p class="right ">@tickets[i].CreationTime</p>

                                </div>
                            </button>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="textBox">
            <div class="topBar">
                <div class="fillerName1">
                </div>
            </div>
            <div class="msgFullText" id="msgFullText" data-model="@Newtonsoft.Json.JsonConvert.SerializeObject(Model)">
                <h2 class="msgSenderName">
                    @tickets[a].Username
                </h2>
                <h3 class="msgSubject">
                    @tickets[a].AnydeskId
                </h3>
                <p class="msgText">
                    @tickets[a].Description
                </p>
                <p class="right">@tickets[a].CreationTime</p>
            </div>
	        <form asp-action="SendMessage" method="post">
		        <div class="inputMsg">
			        <input asp-for="message.Body" class="inputMsg-input">
			        <button class="sendMsg-button" type="submit">Send</button>
		        </div>
	        </form>

        </div>
    </div>
</body>
</html>
